
.ad-dshbd-prod-fd-mn-bx{ 
    display:flex; 
    border: 1px solid #dfdbdb;

}

.ad-dshbd-prod-fd-img-bx{ 
 
    /* border: 1px solid blue; */
    /* width: 430px;
    height: 500px; */
    text-align: center;
    padding: 10px;
    /* height */

}

.ad-dshbd-prod-fd-img-bx img{
    width: 400px
 }
.ad-dshbd-prod-fd-body{
    padding:10px; 
    /* border: 1px dashed blue; */

}
.ad-dshbd-prod-fd-body .ant-card-meta-title{ 

font-size: 25px;
}


.ad-dsbd-fl-de-bx-bd-par{ 
    margin:10px;   
}
.ad-dsbd-st-item-qa--par-bx{ 
    margin-top:10px; 
}
.ad-dsbd-st-item-qa--par-bx p {
    font-size: 25px;
    font-weight: 500;
    color:black; 
}

.ad-dshbd-prod-item-dis-ab-bx{ 
    
    border-top: 1px solid #d2dde6;

    font-size: 19px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    padding: 10px 0px;
}
.ad-dshbd-prod-item-dis-ab-bx ul{ 
    list-style-type: disc;
    font-size:15px; 
    font-weight: 300;

}
.ad-dshbd-prod-item-dis-ab-bx > ul >   li> span:first-child {
 
    font-weight: 500;

}
.ad-dshbd-prod-item-dis-ab-bx > ul >   li> span:last-child {
 
    font-weight: 400;

}