.ad-dsbd-st-ch-bx-sold{ 
    border:1px solid black; 
    margin:10px; 
    /* width:90%;  */
    margin-top: 12px;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 8px;
    height:300px;
}