.ad-dsbd-st-ch-bx-sold{ 
    border:1px solid black; 
    margin:10px; 
    /* width:90%;  */
    margin-top: 12px;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 8px;
    height:300px;
}

.ad-dsbd-st-item-par-bx{ 
    flex-wrap: wrap;
    display:flex;
    /* flex-direction: column; 
    justify-content: center; */
}
.ad-dsbd-st-itc-mb{ 
    
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(230, 235, 241);
    border-radius: 8px;
    /* height:90px;
    width: 90px;  */
    padding:20px; 
    margin: 10px;
    /* cursor:auto */
 
}
.ad-dsbd-st-itc-mb div { 
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "Public Sans", sans-serif;
    color: rgb(140, 140, 140);
}

.ad-dsbd-st-itc-mb span { 
    margin: 0px;

    margin-bottom: 5px;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: "Public Sans", sans-serif;
    color: inherit;
    display: flex;
}

.ad-dsbd-st-itc-mb span span{ 
    font-family: "Public Sans", sans-serif;
    font-size: 13px;
  /*  */
    color: rgb(255, 255, 255);
    background-color: rgb(24, 144, 255);
    white-space: nowrap;
 
    border: 0px;
    padding: 5px;
   
    border-radius: 4px;
    margin-left: 10px;
}

.ad-dsbd-st-tl{ 
    font-size:20px; 
    font-weight: 500;
    margin : 10px; 
    margin-top:30px;
}