
 
name: Node.js CI

on:
  push:
    branches: [ master ]
    
jobs:
  Deploy :
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Push to Heroku
      if: job.status == 'success'
      run: git push -f https://heroku:${{ secrets.HEROKU_TOKEN }}@git.heroku.com/${{ secrets.HEROKU_APP}}.git origin/master:master
